<div class="col-lg-10 col-lg-push-1">
    <div class="row" *ngIf="ping">
        <div class="col-lg-12">
            <div class="well">
                <h1>{{ ping.Domain }} Status Page</h1>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="ping">
        <div class="col-lg-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-info-circle"></i>&nbsp;Summary</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><strong>{{ping.Alive.length + ping.Dead.length}}</strong> total servers</li>
                        <li><strong>{{ping.Alive.length}}</strong> responded on ping<span *ngIf="ping.Dead.length > 0"> and <span class="badge">{{ ping.Dead.length }}</span>                            not pingable</span>
                        </li>
                        <li *ngIf="servers"><strong>{{ servers.length }}</strong> with info summary<span *ngIf="noinfonum > 0"> and <span class="badge">{{ noinfonum }}</span>                            with no info</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4" *ngIf="noinfonum > 0">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong><i class="fa fa-exclamation-triangle"></i>&nbsp;WITHOUT</strong> info</h3>
                </div>
                <div class="panel-body">
                    <span>{{noInfo()}}</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4" *ngIf="ping.Dead.length > 0">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong><i class="fa fa-exclamation-triangle"></i>&nbsp;NOT</strong> responded on ping request</h3>
                </div>
                <div class="panel-body">
                    {{ping.Dead.join(" ,")}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div *ngIf="servers">
            <div *ngFor="let srv of servers; let i = index">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <span class="lead"><i class="fa fa-server"></i> {{srv.SysName}}</span>
                            <span class="text-muted float-right">
                            <small>Generated: {{srv.Generated}} #{{i+1}}</small>
                            </span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <h5><i class="fa fa-gears"></i> General</h5>
                                <table class="table table-striped table-condensed table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Model</th>
                                            <th>OS</th>
                                            <th>SP</th>
                                            <th>Version</th>
                                            <th>Build</th>
                                            <th>Architecture</th>
                                            <th>RAM</th>
                                            <th>Uptime</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><img *ngIf="srv.Computer.Model === 'VMware Virtual Platform'" src="/assets/vmware_16x16.png"
                                                    alt="VmWare"> {{srv.Computer.Model}}</td>
                                            <td>{{srv.OS.Caption}}</td>
                                            <td>{{srv.OS.CSDVersion}}</td>
                                            <td>{{srv.OS.Version}}</td>
                                            <td>{{srv.OS.BuildNumber}}</td>
                                            <td>{{srv.OS.OSArchitecture}}</td>
                                            <td>{{srv.OS.TotalVisibleMemorySize*1024 | fileSize }}</td>
                                            <td>{{srv.OS.Uptime}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <h5><i class="fa fa-database"></i> Storage</h5>
                                <table class="table table-striped table-condensed table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Drive</th>
                                            <th>Volume name</th>
                                            <th>Status</th>
                                            <th>Size (GB)</th>
                                            <th>Used (GB)</th>
                                            <th>Free (GB)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let disk of toArray(srv.Disk)" [ngClass]="{'danger': (diskFreePercent(disk) < 10.1 || disk.VolumeDirty), 'warning': (diskFreePercent(disk) < 30.0), 'success': (diskFreePercent(disk) > 30.0)}">
                                            <td>{{disk.DeviceID}}</td>
                                            <td>{{disk.VolumeName}}</td>
                                            <td>{{disk.VolumeDirty == true? 'NO' : 'OK'}}</td>
                                            <td>{{disk.Size | fileSize}}</td>
                                            <td>{{disk.Size - disk.FreeSpace | fileSize}}</td>
                                            <td>{{disk.FreeSpace | fileSize}} ({{ diskFreePercent(disk) | number:'1.2-2'}}%)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-6">
                                <h5><i class="fa fa-share-alt"></i> Network</h5>
                                <table class="table table-striped table-condensed table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Adapter</th>
                                            <th>IPs</th>
                                            <th>MAC</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let net of toArray(srv.Network)">
                                            <td>{{net.Description}}</td>
                                            <td>{{networkIPFlatList(net.IPAddress)}}</td>
                                            <td>{{net.MACAddress}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <h5><i class="fa fa-tags"></i> Logs</h5>
                                <table class="table table-striped table-condensed table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th colspan="2"><i class="fa fa-refresh"></i> Reboots</th>
                                            <th colspan="2"><i class="fa fa-bomb"></i> Errors</th>
                                            <th colspan="2"><i class="fa fa-warning"></i> Warnings</th>
                                        </tr>
                                        <tr>
                                            <th><i class="fa fa-clock-o"></i> 24 Hours</th>
                                            <th><i class="fa fa-calendar"></i> 7 Days</th>
                                            <th><i class="fa fa-clock-o"></i> 24 Hours</th>
                                            <th><i class="fa fa-calendar"></i> 7 Days</th>
                                            <th><i class="fa fa-clock-o"></i> 24 Hours</th>
                                            <th><i class="fa fa-calendar"></i> 7 Days</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div (click)="modalShowReboots.show()" [ngClass]="{'btn-default': (srv.Reboots24h ==0),'btn-danger': (srv.Reboots24h > 0)}"
                                                    class="btn btn-sm">&nbsp;{{srv.Reboots24h }}&nbsp;</div>
                                            </td>
                                            <td>
                                                <div (click)="modalShowReboots.show()" [ngClass]="{'btn-default': (srv.Reboots7d ==0),'btn-danger': (srv.Reboots7d > 0)}"
                                                    class="btn btn-sm">&nbsp;{{srv.Reboots7d }}&nbsp;</div>
                                            </td>
                                            <td>
                                                <div (click)="modalShowErrors.show()" [ngClass]="{'btn-default': (srv.Errors24h ==0),'btn-danger': (srv.Errors24h > 0)}"
                                                    class="btn btn-sm">&nbsp;{{srv.Errors24h }}&nbsp;</div>
                                            </td>
                                            <td>
                                                <div (click)="modalShowErrors.show()" [ngClass]="{'btn-default': (srv.Errors7d ==0),'btn-danger': (srv.Errors7d > 0)}" class="btn btn-sm">&nbsp;{{srv.Errors7d }}&nbsp;</div>
                                            </td>
                                            <td>
                                                <div (click)="modalShowWarnings.show()" [ngClass]="{'btn-default': (srv.Warnings24h ==0),'btn-warning': (srv.Warnings24h > 0)}"
                                                    class="btn btn-sm">&nbsp;{{srv.Warnings24h }}&nbsp;</div>
                                            </td>
                                            <td>
                                                <div (click)="modalShowWarnings.show()" [ngClass]="{'btn-default': (srv.Warnings7d ==0),'btn-warning': (srv.Warnings7d > 0)}"
                                                    class="btn btn-sm">&nbsp;{{srv.Warnings7d }}&nbsp;</div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div bsModal #modalShowReboots="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="showRebootsLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title pull-left"><i class="fa fa-refresh"></i> Reboots {{srv.SysName}}</h4>
                                            <button type="button" class="close pull-right" aria-label="Close" (click)="modalShowReboots.hide()"><span aria-hidden="true">&times;</span></button>
                                        </div>
                                        <div class="modal-body">
                                            <span *ngIf="srv.Reboots7d == 0">No reboots</span>

                                            <table *ngIf="srv.Reboots7d > 0" class="table table-striped table-condensed table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="td-stat-date"><i class="fa fa-calendar"></i> Date/Time</th>
                                                        <th class="td-stat-eventid"><i class="fa fa-address-card-o"></i> Event ID</th>
                                                        <th class="td-stat-log"><i class="fa fa-stack-overflow"></i> Log</th>
                                                        <th class="td-stat-source"><i class="fa fa-share-square-o"></i> Source</th>
                                                        <th><i class="fa fa-file-text-o"></i> Message</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let reboot of srv.Reboots">
                                                        <td>{{ reboot.TimeGenerated }}</td>
                                                        <td>{{ reboot.EventID }}</td>
                                                        <td>{{ reboot.Log }}</td>
                                                        <td>{{ reboot.Source }}</td>
                                                        <td>{{ reboot.Message }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ERRORS -->

                            <div bsModal #modalShowErrors="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="showErrorsLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-xlg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title pull-left"><i class="fa fa-bomb"></i> Errors {{srv.SysName}}</h4>
                                            <button type="button" class="close pull-right" aria-label="Close" (click)="modalShowErrors.hide()"><span aria-hidden="true">&times;</span></button>
                                        </div>
                                        <div class="modal-body">
                                            <span *ngIf="srv.Errors7d == 0">No errors</span>

                                            <table *ngIf="srv.Errors7d > 0" class="table table-striped table-condensed table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="td-stat-date"><i class="fa fa-calendar"></i> Date/Time</th>
                                                        <th class="td-stat-eventid"><i class="fa fa-address-card-o"></i> Event ID</th>
                                                        <th class="td-stat-log"><i class="fa fa-stack-overflow"></i> Log</th>
                                                        <th class="td-stat-source"><i class="fa fa-share-square-o"></i> Source</th>
                                                        <th><i class="fa fa-file-text-o"></i> Message</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let err of toArray(srv.Errors)">
                                                        <td>{{ err.TimeGenerated }}</td>
                                                        <td>
                                                            <a target="_blank" href="http://www.eventid.net/display.asp?eventid={{ err.EventID }}&source={{ err.Source | eventIDURL }}">
                                                                <span class="btn btn-sm btn-default"> <i class="fa fa-external-link"></i> {{ err.EventID }}</span></a>
                                                        </td>
                                                        <td>{{ err.Log }}</td>
                                                        <td>{{ err.Source }}</td>
                                                        <td>{{ err.Message }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--ERRORS EOT -->

                            <!--  WARNINGS -->
                            <div bsModal #modalShowWarnings="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="showWarningsLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-xlg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title pull-left"><i class="fa fa-warning"></i> Warnings {{srv.SysName}}</h4>
                                            <button type="button" class="close pull-right" aria-label="Close" (click)="modalShowWarnings.hide()"><span aria-hidden="true">&times;</span></button>
                                        </div>
                                        <div class="modal-body">
                                            <span *ngIf="srv.Warnings7d == 0">No errors</span>

                                            <table *ngIf="srv.Warnings7d > 0" class="table table-striped table-condensed table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="td-stat-date"><i class="fa fa-calendar"></i> Date/Time</th>
                                                        <th class="td-stat-eventid"><i class="fa fa-address-card-o"></i> Event ID</th>
                                                        <th class="td-stat-log"><i class="fa fa-stack-overflow"></i> Log</th>
                                                        <th class="td-stat-source"><i class="fa fa-share-square-o"></i> Source</th>
                                                        <th><i class="fa fa-file-text-o"></i> Message</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let warning of toArray(srv.Warnings)">
                                                        <td>{{ warning.TimeGenerated }}</td>
                                                        <td>
                                                            <a target="_blank" href="http://www.eventid.net/display.asp?eventid={{ warning.EventID }}&source={{ warning.Source | eventIDURL }}">
                                                                <span class="btn btn-sm btn-default"> <i class="fa fa-external-link"></i> {{ warning.EventID }}</span></a>
                                                        </td>
                                                        <td>{{ warning.Log }}</td>
                                                        <td>{{ warning.Source }}</td>
                                                        <td>{{ warning.Message }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--  WARNINGS EOT-->

                            <div class="col-lg-6">
                                <h5><i class="fa fa-tasks"></i> RAM</h5>
                                <table class="table table-striped table-condensed table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Bank</th>
                                            <th>Capacity</th>
                                            <th>Locator</th>
                                            <th>Part#</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let mem of srv.Memory">
                                            <td>{{mem.BankLabel === null || mem.BankLabel === '' ? 'N/A' : mem.BankLabel}}</td>
                                            <td>{{mem.Capacity | fileSize }}</td>
                                            <td>{{mem.DeviceLocator}}</td>
                                            <td>{{mem.PartNumber == null ? 'N/A' : mem.PartNumber}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <h5><i class="fa fa-microchip"></i> CPU<span *ngIf="srv.CPU.length > 1">s</span></h5>
                                <table class="table table-striped table-condensed table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Manufacturer</th>
                                            <th>Speed</th>
                                            <th>Load</th>
                                            <th>Cores</th>
                                            <th>Logical CPUs</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let cpu of srv.CPU">
                                            <td>{{cpu.Name}}</td>
                                            <td>{{cpu.Manufacturer}}</td>
                                            <td>{{cpu.MaxClockSpeed}}</td>
                                            <td>
                                                <div [ngClass]="{'btn-default': (cpu.LoadPercentage < 10), 'btn-warning': (cpu.LoadPercentage > 70), 'btn-danger': (cpu.LoadPercentage > 90)}"
                                                    class="btn btn-sm">{{cpu.LoadPercentage}}%</div>
                                            </td>
                                            <td>{{cpu.NumberOfCores}}</td>
                                            <td>{{cpu.NumberOfLogicalProcessors}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- col lg 6-->
                        </div>
                    </div>
                </div>
                <!-- ngFor -->
                <!--ngFor srv-->
            </div>
            <!--ngIf-->
        </div>
        <!--row-->
    </div>
